<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Qoliber\NebulaComponent\Model\Registry\DataProviderRegistry">
        <arguments>
            <argument name="bindings" xsi:type="array">
                <item name="design_config.grid" xsi:type="string">Qoliber\NebulaStore\Model\DataProvider\DesignConfigProvider</item>
                <item name="store_group.form" xsi:type="string">Qoliber\NebulaStore\Model\DataProvider\StoreGroupProvider</item>
                <item name="store_view.form" xsi:type="string">Qoliber\NebulaStore\Model\DataProvider\StoreViewProvider</item>
                <item name="store_website.form" xsi:type="string">Qoliber\NebulaStore\Model\DataProvider\WebsiteProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Qoliber\NebulaGrid\Model\Registry\CollectionRegistry">
        <arguments>
            <argument name="bindings" xsi:type="array">
                <item name="design_schedule.collection" xsi:type="string">Magento\Theme\Model\ResourceModel\Design\Collection</item>
                <item name="design_theme.collection" xsi:type="string">Magento\Theme\Model\ResourceModel\Theme\Grid\Collection</item>
                <item name="store.collection" xsi:type="string">Magento\Store\Model\ResourceModel\Website\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
