<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="nebula" frontName="nebula">
            <module name="Qoliber_NebulaTheme" before="Qoliber_Nebula"/>
        </route>
    </router>
</config>
