<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Kill UI Component generation at layout level -->
    <type name="Magento\Framework\View\Layout\Generator\UiComponent">
        <plugin name="qoliber_nebula_kill_ui_components"
                type="Qoliber\NebulaUiRemoval\Plugin\DisableUiComponentGenerator"
                sortOrder="1"/>
    </type>

    <!-- Kill UI Component layout reader — prevents even scheduling them -->
    <type name="Magento\Framework\View\Layout\Reader\UiComponent">
        <plugin name="qoliber_nebula_kill_ui_component_reader"
                type="Qoliber\NebulaUiRemoval\Plugin\DisableUiComponentReader"
                sortOrder="1"/>
    </type>

</config>
