<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Qoliber_NebulaDirective">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Variable"/>
            <module name="Magento_Widget"/>
            <module name="Qoliber_NebulaTheme"/>
            <module name="Qoliber_NebulaQuill"/>
        </sequence>
    </module>
</config>
